@{
    ViewBag.Title = "Página Inicial";
}   


<div class="titulo">
    <img class="logo" src="~/Assets/ACO068-23 BANNER SITE INTERNET ACELERA (1).png"/>
</div>

<body>
    <section class="container">
        <div class="column">
            <a href="/Assets/Cartilha_Portabilidade_de_carncias_semgov.pdf" target="_blank"><img src="~/Assets/conexao.png" class="portabilidade-icon" /></a>
            <p> Portabilidade </p>
        </div>
        <div class="column">
            <a href="#"><img src="~/Assets/palestra.png" class="icon" /></a>
            <p>Treinamentos</p>
        </div>
        <div class="column">
            <a href="#"><img src="~/Assets/pasta (2).png" class="icon" /></a>
            <p>Documentos</p>
        </div>
        <div class="column">
            <a href="#"><img src="~/Assets/grafico-de-barras.png" class="icon" /></a>
            <p>Tabela de Vendas</p>
        </div>
        <div class="column">
            <a asp-controller="Paginas" asp-action="AppVendas"><img src="~/Assets/app-bolsa-de-valores.png" class="icon" /></a>
            <p>Venda Online</p>
        </div>
        <div class="column">
            <a href="#"><img src="~/Assets/apresentacao (1).png" class="icon" /></a>
            <p>Coparticipação</p>
        </div>
        <div class="column">
            <a href="https://forms.gle/vvBdLkWgXfUMGB5d7"><img src="~/Assets/central-de-ajuda.png" class="icon" /></a>
            <p>Helpdesk</p>
        </div>
        <div class="column">
            <a href="#"><img src="~/Assets/comunicado-de-imprensa.png" class="icon" /></a>
            <p>Comunicados</p>
        </div>
        <div class="column">
            <a href="https://chat.openai.com/" target="_blank"><img src="~/Assets/chip.png" class="icon" /></a>
            <p>Chat GPT</p>
        </div>
        <div class="column">
            <a href="https://www.ans.gov.br/gpw-beneficiario/pages/pesquisa_portabilidade.xhtml" target="_blank"><img src="~/Assets/consultando.png" class="icon" /></a>
            <p>Protocolo ANS</p>
        </div>
        <div class="column">
            <a href="~/Assets/anexo_i_rol_2021rn_4652021.pdf" target="_blank"><img src="~/Assets/planejador.png" class="icon" /></a>
            <p>Rol de procedimentos</p>
        </div>
        <div class="column">
            <a asp-controller="Paginas" asp-action="NossosApps"><img src="~/Assets/aplicativo-movel.png" class="icon" /></a>
            <p>Apps de Apoio</p>
        </div>
    </section>
</body>