@model Acelera_Saude.Models.LoginModel;
@{
    ViewData["Title"] = "Login";
}

<link href="~/css/loginStyle.css" rel="stylesheet" type="text/css" />


<title>Login</title>
    
<body>
    <div class="login">
        <div class="login__content">
            <div class="login__img">
                <img src="~/Assets/LogoCapa1.png" alt="">
            </div>

            <div class="login__forms">
                <form asp-action="Login" class="login__registre" id="login-in">
                    <h1 class="login__title">Login</h1>
            
                    <div class="login__box">
                        <i class='bx bx-user login__icon'></i>                     
                        <input asp-for="Email" type="email" placeholder="Email" class="login__input">
                        <span asp-validation-for="Email"  class="text-danger"></span>
                    </div>

                    <div class="login__box">
                        <i class='bx bx-lock-alt login__icon'></i>                      
                        <input asp-for="Password"  type="password" placeholder="Password" class="login__input">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <a href="#" class="login__forgot"></a>
                    <input type="submit" class="login__button" />

                    <div>
                        <span class="login__account"></span>
                        <span class="login__signin" id="sign-up"></span>
                    </div>
           
                </form>
            </div>
        </div>
    </div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}