@{
    ViewBag.Title = "App Vendas";
}

<header>
    <h1 id="titulo">Selecione um dos Apps abaixo</h1>
    <p id="subtitulo">Clique em uma das caixas abaixo para ser direcionado para o Site</p>
</header>

<section class="container appPage">
    <div class="column">
        <a href="https://benevix.planium.io/web/login/entrar" target="_blank"><img src="~/Assets/logo-cna-benevix.jpg" class="icon" /></a>
        <p>BENEVIX</p>
    </div>
    <div class="column">
        <a href="https://p4hsaude.com.br/" target="_blank"><img src="~/Assets/p4h.jpeg" class="p4h" /></a>
        <p>P4H</p>
    </div>
    <div class="column">
        <a href="https://acelerasaude.activehosted.com/admin/index.php" target="_blank"><img src="~/Assets/activecampaign-seeklogo.com.svg" class="icon" /></a>
        <p>ActiveCampaign</p>
    </div>
    <div class="column">
        <a href="https://app.octadesk.com/chat" target="_blank"><img src="~/Assets/octadeskicon.png" class="icon" /></a>
        <p>Octadesk</p>
    </div>
</section>