@{
    ViewBag.Title = "Apps de Apoio";
}

<link href="~/css/appStyle.css" rel="stylesheet" type="text/css" />

<header>
    <h1 class="titulo-da-pagina">Selecione um App abaixo para ser direcionado para a página.</h1>
</header>


<body>
    <section class="container appPage">
        <div class="column">
            <a href="https://ilovepdf.com" target="_blank" ><img src="~/Assets/ilovepdf.svg" class="ilovepdf-icon" /></a>
            <p> I&#10084;PDF </p>
        </div>
        <div class="column">
            <a href="https://d4sign.com.br/" target="_blank"><img src="~/Assets/D4Sign-icon.png" class="icon" /></a>
            <p>D4Sign</p>
        </div>
        <div class="column">
            <a href="https://servicos.receita.fazenda.gov.br/Servicos/CPF/ConsultaSituacao/ConsultaPublica.asp" target="_blank"><img src="~/Assets/cpf.png" class="icon" /></a>
            <p>Emissão CPF</p>
        </div>
        <div class="column">
            <a href="https://solucoes.receita.fazenda.gov.br/servicos/cnpjreva/cnpjreva_solicitacao.asp" target="_blank"><img src="~/Assets/companhia.png" class="icon" /></a>
            <p>Emissão CNPJ</p>
        </div>
         <div class="column">
            <a href="https://www.bitrix24.net/oauth/authorize/?user_lang=br&client_id=b24.60c7b63c8e1f17.70959691&redirect_uri=https%3A%2F%2Funimedbrusque.bitrix24.com.br%2Fextranet%2F%3Fauth_service_id%3DBitrix24Net&scope=auth,profile&response_type=code&mode=page&state=site_id%3Dex%26backurl%3D%252Fextranet%252F%253Fcheck_key%253Deeddd5f8269ce8d76232b1b0f782da59%26mode%3Dpage" target="_blank"><img src="~/Assets/Bitrix24.svg" class="icon" /></a>
            <p>Bitrix</p>
        </div>
         <div class="column">
            <a href="https://app10.ploomes.com/login" target="_blank"><img src="~/Assets/PLOOMES_Imagotipo_Branco_Vertical_Fundo_Roxo.png" class="icon" /></a>
            <p>Ploomes</p>
        </div>
        <div class="column">
            <a href="https://app.asana.com/-/login" target="_blank"><img src="~/Assets/asana.svg" class="icon" /></a>
            <p>Asana</p>
        </div>
        <div class="column">
            <a href="https://www.asaas.com/login/auth" target="_blank"><img src="~/Assets/logo-asaas-azul-.png" class="icon" /></a>
            <p>Asaas</p>
        </div>
        <div class="column">
            <a href="https://portal.connectinc.com.br/" target="_blank"><img src="~/Assets/PortalConnect.png" class="icon" /></a>
            <p>Portal Connect</p>
        </div>
    </section>
</body>