@{
    ViewBag.Title = "Unimed Florianópolis";
}

<header>
    <h1 id="titulo">Selecione uma das pastas abaixo</h1>
    <p id="subtitulo">Clique em uma das caixas para ser direcionado para o arquivo</p>
</header>

<section class="container appPage">
    <div class="column">
        <a href="~/Assets/Boletim Comercial SINPRF_SC (1) (2).pdf" target="_blank"><img src="~/Assets/Sindi2.jpeg" class="icon" /></a>
        <p>SINDPRF</p>
    </div>
     <div class="column">
        <a href="~/Assets/Boletim Comercial SINDFAZ (1) (2).pdf" target="_blank"><img src="~/Assets/Sindi.jpeg" class="icon" /></a>
        <p>SINDIFAZ</p>
    </div>
     <div class="column">
        <a href="~/Assets/Boletim Comercial SINPOFESC (1) (2).pdf" target="_blank"><img src="~/Assets/Sindi3.jpeg" class="icon" /></a>
        <p>SINPOFESC</p>
    </div>
</section>