@{
    ViewBag.Title = "Tabela Vendas";
}

<header>
    <h1 id="titulo">Selecione uma das pastas abaixo</h1>
    <p id="subtitulo">Clique em uma das caixas para ser direcionado para o arquivo</p>

    

    <section class="container appPage">
        <div class="column">
            <a asp-controller="Paginas" asp-action="UnimedFloripa"><img src="~/Assets/FLORIPA_VETOR.svg" class="icon" /></a>
            <p>Floripa</p>
        </div>
    </section>

</header>